<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiking Indonesia</title>
    {% load static %}
    <!-- Load the CSS bundle -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <!-- Root element where React will mount -->
    <div id="main">
        <div id="app"></div>
    </div>
    <!-- Load the JS bundle -->
    <script src="{% static 'frontend/main.js' %}"></script>
    
</body>
</html>
