/* src/components/Recommendation.css */

.recommendation-section {
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
}

.recommendation-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.small-title {
    font-size: 16px;
}

.recommendation-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    transition: transform 0.3s;
}

.recommendation-card:hover {
    transform: scale(1.05);
}

.recommendation-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recommendation-title {
    font-size: 18px;
    margin: 15px 0;
}

.recommendation-description {
    font-size: 14px;
    padding: 0 15px 15px;
}
.image-slider-container {
    display: flex;
    justify-content: center;  
    align-items: center;      

}