.navbar {
    background-color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky; /* Make it stick to the top */
    top: 0; /* Position it at the top */
    z-index: 1000; /* Ensure it stays above other content */
    width: 100%; /* Ensure it takes the full width */
    border-bottom: 1px solid #ddd; /* Optional: Add a bottom border */
}
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-tab {
    margin: 0;
    padding: 0;
}

.navbar-tab a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.navbar-tab a:hover,
.navbar-tab a:focus {
    border-bottom: 2px solid black;
    color: #28a745; /* Optional: Change the color on hover */
    cursor: pointer;
}

.search-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
}

.search-input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
}